@font-face {
  font-family: iran;
  src: url(/asset/font/iransan.ttf);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a1a3a8;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iran;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

.login-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-cart .btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e2;
  border-radius: 8px;
  padding: 8px 15px;
  margin-left: 10px;
}

.login-cart .btn-login .fa-door-open {
  color: #424750;
  margin-left: 10px;
  font-size: 1.2rem;
}

.login-cart .btn-login .text-log {
  color: #000;
  font-weight: 600;
  font-size: 0.7rem;
}

.login-cart .icon-cart-header {
  border-right: 1px solid #e0e0e2;
  padding: 0 14px;
  color: #424750;
  font-size: 1.2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searrchBox {
  background-color: #f0f0f1;
  width: 650px;
  margin-right: 20px;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 8px;
}

.searrchBox .searchInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: unset;
}

.searrchBox .searchInput::placeholder {
  font-size: 12px;
}

.searrchBox .fa-search {
  margin-left: 10px;
  color: #a1a3a8;
  font-size: 20px;
}

.list-item {
  line-height: 1.2;
  padding-left: 20px;
  border-left: 1px solid #e0e0e2;
  margin: 0 5px;
}

.list-item .link-list-item {
  font-weight: 400;
  font-size: 0.9rem;
  color: #a1a3a8;
  margin-right: 9px;
  padding: 15px 0;
}

.list-item .link-list-item:hover {
  border-bottom: 2px solid #ef4056;
}

.list-item .font-style {
  font-size: 0.8rem;
}

.list-item .active {
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.list-item .active:hover {
  border-bottom: 2px solid #ef4056;
}

.disabled-border {
  border: none;
}

.icon {
  margin-left: 5px;
  color: #545456;
  font-size: 1rem;
}

.link-map {
  color: #757578;
}

.btn-slider {
  margin-bottom: 20px;
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.btn-slider .btn {
  animation: btn 0.5s;
  border: none;
  outline: none;
  width: 47px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #5b5b5b;
  display: none;
}

.number-slider {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.number-slider .number {
  transition: all .3s;
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.number-slider .active-number {
  background-color: #fff;
  border-radius: 50px;
  width: 15px;
  height: 6px;
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-product {
  width: 15%;
  height: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.image-product .text-img-product {
  width: 100%;
  height: 30%;
}

.image-product .img-product {
  width: 100%;
  margin-top: 10px;
}

.image-product .text-product {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.image-product .text-product > p {
  font-weight: 800;
}

.image-product .text-product > i {
  font-size: 12px;
  margin-right: 5px;
}

.product-box, .container-box-suggestion {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.product-box .box, .container-box-suggestion .box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 13px;
  border-radius: 10px;
  width: 100%;
  margin-left: 3px;
  height: 90%;
}

.product-box .box .img-box-pro, .container-box-suggestion .box .img-box-pro {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.product-box .box .section-price, .container-box-suggestion .box .section-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-box .box .section-price .offer, .container-box-suggestion .box .section-price .offer {
  height: 20px;
  width: 34px;
  border-radius: 50px;
  background-color: #ef4056;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  padding-top: 1px;
}

.product-box .box .section-price .price, .container-box-suggestion .box .section-price .price {
  padding: 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #424750;
  position: relative;
}

.product-box .box .section-price .price .toman-text, .container-box-suggestion .box .section-price .price .toman-text {
  font-size: 12px;
  font-weight: bold;
  color: #424750;
  margin-right: 3px;
}

.product-box .box .section-price .price .finsh-toman, .container-box-suggestion .box .section-price .price .finsh-toman {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 13px;
}

.product-box .box .Price-before-discount, .container-box-suggestion .box .Price-before-discount {
  text-align: left;
  width: 100%;
  padding-left: 20px;
  color: #c0c2c5;
  font-weight: 400;
  font-size: 12px;
}

.product-box .box .more, .container-box-suggestion .box .more {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product-box .box .more > a, .container-box-suggestion .box .more > a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19bfd3;
  border-radius: 50%;
  border: 1px solid #19bfd3;
}

.product-box .box .more > p, .container-box-suggestion .box .more > p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 800;
  color: #424750;
}

.btn-products-right {
  width: 47px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #5b5b5b;
  position: absolute;
  left: 0px;
  border: 1px solid #bfc3c7;
}

.btn-products-left {
  width: 47px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #5b5b5b;
  position: absolute;
  right: 10px;
  display: none;
  border: 1px solid #bfc3c7;
}

.Item-Amazing-Right {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item-Amazing-Right .text-amazing, .Item-Amazing-Right .lable {
  margin-right: 20px;
}

.Item-Amazing-Right .lable {
  background-color: #39ae00;
  color: #fff;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 14px;
}

.Item-Left-Amazing {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item-Left-Amazing .button-amazing {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 10px 15px;
  border-radius: 50px;
}

.Item-Left-Amazing .button-amazing .text-button {
  margin-left: 5px;
  color: #39ae00;
}

.Item-Left-Amazing .button-amazing .arrow-amazing {
  color: #39ae00;
}

.Item-Left-Amazing .product-amazing {
  background-color: #fff;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 15px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Item-Left-Amazing .product-amazing img {
  width: 40px;
  border-radius: 50%;
}

.Item-Left-Amazing .product-amazing .offer-amazing {
  position: absolute;
  right: 4px;
  bottom: 3px;
  z-index: 10;
  height: 20px;
  width: 34px;
  border-radius: 50px;
  background-color: #ef4056;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  padding-top: 1px;
}

.Item-suggestion {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px;
}

.Item-suggestion img {
  border-radius: 10px;
  width: 100%;
}

.container-catgory {
  width: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.container-catgory .Item-catgory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  align-items: center;
  width: 15%;
  margin-left: 60px;
  margin-bottom: 20px;
}

.container-catgory .Item-catgory .img-catgory {
  width: 100%;
}

.container-catgory .Item-catgory .img-catgory img {
  width: 100%;
}

.container-catgory .Item-catgory p {
  font-size: 12px;
  font-weight: 400;
  color: #0c0c0c;
}

.container-box-suggestion .box-suggestion-slider {
  min-width: 200px;
  height: 100%;
  border-right: 1px solid #e2dede;
  margin-left: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container-box-suggestion .box-suggestion-slider .item-box-suggestion {
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ece8e8;
}

.container-box-suggestion .box-suggestion-slider .item-box-suggestion .img-box-suggestion {
  width: 50%;
  height: 50%;
  padding: 10px 0;
  border-radius: 50%;
  background-color: #e8ecec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.container-box-suggestion .box-suggestion-slider .item-box-suggestion p {
  font-size: 14px;
  font-weight: 400;
  color: #0c0c0c;
  margin-bottom: 10px;
}

.container-box-suggestion-best {
  padding-bottom: 20px;
}

.btn-suggestion-right {
  width: 47px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #5b5b5b;
  position: absolute;
  left: 5px;
  border: 1px solid #bfc3c7;
}

.btn-suggestion-left {
  width: 47px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #5b5b5b;
  position: absolute;
  right: 5px;
  border: 1px solid #bfc3c7;
  display: none;
}

.parent-box-catgory-more-right, .parent-box-catgory-more-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #bfc3c7;
}

.parent-box-catgory-more-right .child-box-catgory-more-right, .parent-box-catgory-more-left .child-box-catgory-more-right {
  width: 50%;
  height: 100%;
  padding: 15px 0;
  border-left: 1px solid #dddfe0;
}

.parent-box-catgory-more-right .child-box-catgory-more-right .titile-child-box-catgory-more-right, .parent-box-catgory-more-left .child-box-catgory-more-right .titile-child-box-catgory-more-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 18px;
  font-weight: 700;
  font-size: 1.1rem;
}

.parent-box-catgory-more-right .child-box-catgory-more-right .titile-child-box-catgory-more-right p, .parent-box-catgory-more-left .child-box-catgory-more-right .titile-child-box-catgory-more-right p {
  color: #81858b;
  font-size: 11px;
  margin-top: 8px;
  font-weight: normal;
}

.parent-box-catgory-more-right .child-box-catgory-more-right .product-child-box-catgory-more-right, .parent-box-catgory-more-left .child-box-catgory-more-right .product-child-box-catgory-more-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 18px;
}

.parent-box-catgory-more-right .child-box-catgory-more-right .product-child-box-catgory-more-right .product-box, .parent-box-catgory-more-left .child-box-catgory-more-right .product-child-box-catgory-more-right .product-box, .parent-box-catgory-more-right .child-box-catgory-more-right .product-child-box-catgory-more-right .container-box-suggestion, .parent-box-catgory-more-left .child-box-catgory-more-right .product-child-box-catgory-more-right .container-box-suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  padding: 10px 0;
  border-left: 1px solid #dddfe0;
  border-bottom: 1px solid #dddfe0;
}

.parent-box-catgory-more-right .child-box-catgory-more-right .product-child-box-catgory-more-right .product-box img, .parent-box-catgory-more-left .child-box-catgory-more-right .product-child-box-catgory-more-right .product-box img, .parent-box-catgory-more-right .child-box-catgory-more-right .product-child-box-catgory-more-right .container-box-suggestion img, .parent-box-catgory-more-left .child-box-catgory-more-right .product-child-box-catgory-more-right .container-box-suggestion img {
  width: 90%;
}

.parent-box-catgory-more-right .child-box-catgory-more-right .look-more, .parent-box-catgory-more-left .child-box-catgory-more-right .look-more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.parent-box-catgory-more-right .child-box-catgory-more-right .look-more a, .parent-box-catgory-more-left .child-box-catgory-more-right .look-more a {
  color: #19bfd3;
  font-size: 12px;
  font-weight: bold;
}

.parent-box-catgory-more-right .child-box-catgory-more-right .look-more i, .parent-box-catgory-more-left .child-box-catgory-more-right .look-more i {
  color: #19bfd3;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.parent-box-catgory-more-left {
  border: none;
}

.digiplus-content {
  padding: 20px 40px;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.digiplus-content .logo-digiplus {
  width: 100%;
  height: auto;
}

.digiplus-content .text-digiplus {
  color: #fff;
  font-size: 14px;
}

.digiplus-content .Membership {
  padding: 15px 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.digiplus-content .Membership .button-digiplus {
  background-color: transparent;
  border: 1.5px solid #fff;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digiplus-content .Membership .button-digiplus i {
  margin-right: 10px;
}

.digiplus-content .Membership .img-free-digiplus {
  width: 60%;
  height: 100%;
}

.digiplus-content-left {
  width: 40%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
}

.digiplus-content-left .header-digiplus-content-left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
}

.digiplus-content-left .header-digiplus-content-left .Immediate-delivery {
  display: flex;
}

.digiplus-content-left .header-digiplus-content-left .Immediate-delivery .icon-rocket {
  color: #a63489;
  font-size: 20px;
  margin-left: 10px;
}

.digiplus-content-left .header-digiplus-content-left .Immediate-delivery .text-Immediate-delivery {
  font-weight: 700;
  color: #0c0c0c;
}

.digiplus-content-left .header-digiplus-content-left .look-more {
  color: #a63489;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.digiplus-content-left .header-digiplus-content-left .look-more a {
  color: #a63489;
  font-size: 12px;
  margin-left: 5px;
  font-weight: 700;
}

.digiplus-content-left .body-digiplus-content-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.digiplus-content-left .body-digiplus-content-left .box-body-digiplus-content-left {
  width: calc(100% / 3);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digiplus-content-left .body-digiplus-content-left .box-body-digiplus-content-left img {
  width: 80%;
}

.logo-digiclub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.Label-digiclub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Label-digiclub .labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 300px;
  height: 70px;
  padding-right: 20px;
  border-radius: 8px 0 0px 8px;
  margin-left: 5px;
  overflow: hidden;
}

.Label-digiclub .labels img {
  width: 50%;
}

.Label-digiclub .labels .text-Awards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Label-digiclub .labels .text-Awards p {
  margin-right: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #0c0c0c;
}

.Label-digiclub .labels .text-Awards i {
  color: #007295;
  font-size: 18px;
}

.title-Best-selling-products {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  display: flex;
}

.title-Best-selling-products p {
  text-align: center;
  color: #0c0c0c;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
}

.title-Best-selling-products p i {
  color: #f9a825;
}

.title-Best-selling-products a {
  margin-left: 15px;
  color: #19bfd3;
  font-weight: 700;
  font-size: 14px;
}

.container-box-Best-selling-products {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.container-box-Best-selling-products .box-content-Best-selling-products {
  max-width: 400px;
  min-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 10px;
}

.container-box-Best-selling-products .box-content-Best-selling-products .item-box-content-Best-selling-products {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-box-Best-selling-products .box-content-Best-selling-products .item-box-content-Best-selling-products .image-item-box-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.container-box-Best-selling-products .box-content-Best-selling-products .item-box-content-Best-selling-products .image-item-box-content img {
  width: 50%;
}

.container-box-Best-selling-products .box-content-Best-selling-products .item-box-content-Best-selling-products .image-item-box-content span {
  color: #19bfd3;
  font-size: 1.9rem;
  font-weight: 800;
}

.container-box-Best-selling-products .box-content-Best-selling-products .item-box-content-Best-selling-products .text-item-box-content {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: -40px;
  font-size: 12px;
  color: #424750;
  font-weight: 400;
  border-bottom: 1px solid #f0f0f1;
  padding: 20px 0;
}

.popup-image {
  width: 500px;
  height: 200px;
  position: fixed;
  z-index: 20;
  bottom: 1px;
  background-image: url(/asset/image/popup.jpeg);
  background-size: cover;
  background-position: center;
  right: -500px;
  transition: all 0.5s ease-in-out;
}

.popup-image img {
  display: none;
  transition: all 0.5s ease-in-out;
}

.popup-image:hover img {
  display: block;
}

.header {
  position: sticky;
  top: 0%;
  z-index: 99999;
}

.header .headerGift {
  background-image: url(/asset/image/headerGift.gif);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60px;
}

.header .login-searchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 12px 16px;
}

.header .login-searchBox .logo-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #fff;
}

.list-map .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-map .menu .list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-map .map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 0.8rem;
}

.container-slider {
  width: 100%;
  height: 400px;
  position: relative;
}

.container-slider .slider img {
  width: 100%;
  height: 100%;
}

.container-slider .slider {
  animation: slide 0.5s;
  width: 100%;
  height: 100%;
  display: none;
}

.container-slider .active {
  display: inline-block;
}

.container-slider:hover .btn {
  display: flex;
}

@keyframes slide {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.main {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}

.main .list-markting {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main .list-markting .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  margin: 12px 20px;
  width: 35%;
}

.main .list-markting .list .text-list {
  font-size: 12px;
  margin-top: 5px;
}

.main .list-markting .list .dot {
  width: 57px;
  height: 55px;
  border-radius: 50%;
  background-color: #dcdddf;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #9a9b9d;
}

.main .list-markting .list img {
  width: 50%;
}

.main .products {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .products .product-slider {
  width: 80%;
  height: 280px;
  background-color: #ef4056;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main .Amazing, .main .suggestion, .main .container-gift {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .Amazing .container-Amazing, .main .suggestion .container-Amazing, .main .container-gift .container-Amazing {
  width: 80%;
  border-radius: 20px;
  padding: 40px 20px;
  background: linear-gradient(rgba(57, 174, 0, 0.1) 0, rgba(242, 242, 242, 0) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .catgory {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main .container-gift .container-Item {
  width: 80%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .container-gift .container-Item a {
  margin: 0 15px;
}

.main .container-gift .container-Item a .Item-gift {
  width: 100%;
}

.main .container-gift .container-Item a .Item-gift img {
  width: 100%;
  border-radius: 10px;
}

.main .suggestion-slider, .main .catgory-more, .main .digiplus, .main .digiclub, .main .Best-selling-products {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.main .suggestion-slider .container-suggestion-slider, .main .catgory-more .container-suggestion-slider, .main .digiplus .container-suggestion-slider, .main .digiclub .container-suggestion-slider, .main .Best-selling-products .container-suggestion-slider {
  width: 80%;
  height: 100%;
  border: 1px solid #e2dede;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 0 auto;
}

.main .suggestion-slider .container-suggestion-slider h2, .main .catgory-more .container-suggestion-slider h2, .main .digiplus .container-suggestion-slider h2, .main .digiclub .container-suggestion-slider h2, .main .Best-selling-products .container-suggestion-slider h2 {
  margin: 20px auto;
}

.main .suggestion-slider .container-suggestion-slider h2 i, .main .catgory-more .container-suggestion-slider h2 i, .main .digiplus .container-suggestion-slider h2 i, .main .digiclub .container-suggestion-slider h2 i, .main .Best-selling-products .container-suggestion-slider h2 i {
  color: #f9bc00;
}

.main .catgory-more .container-catgory-more {
  width: 80%;
  height: 100%;
  border: 1px solid #e2dede;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.main .digiplus .container-digiplus, .main .digiclub .container-digiplus {
  padding: 10px 15px;
  width: 80%;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  border: none;
  background-color: #941b80;
}

.main .digiclub {
  margin-top: 10px;
}

.main .digiclub .container-digiplus {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  border: none;
  background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%), radial-gradient(21.29% 87.33% at 50% 50.67%, #7cf2f6 0, #35a6c8 100%);
}

.main .Best-selling-products .container-best-selling-products {
  width: 80%;
  height: 100%;
  border: 1px solid #e2dede;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 0 auto;
}

.main .banner {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.main .banner .content-banner {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.main .banner .content-banner img {
  width: 100%;
  border-radius: 10px;
}

@font-face {
  font-family: iran;
  src: url(/asset/font/iransan.ttf);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a1a3a8;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iran;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}
/*# sourceMappingURL=main.css.map */