$color-black:#000;
$color-red:#ef4056;
$color-green:#39ae00;
$color-white:#fff;
$color-icon-search:#a1a3a8;
$font-Iran:iran;
@font-face {
    font-family: iran;
    src: url(/asset/font/iransan.ttf);
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin felexColumn  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
@mixin flexEnd {
    display: flex;
    justify-content: end;
    flex-direction: column;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-Iran;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}