* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iran';
}
@font-face {
    font-family: 'iran';
    src: url(font/iransan.ttf);
}
.header-gift {
    display: flex;
    width: 100%;
    justify-content: center;
}
.img-gift {
    width: 100%;
    height: 60px;
}
.container-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.svg-header {
    position: relative;
    top: 20px;
    right: 22px;
}
.search-header {
    position: relative;
    right: 50px;
    font-family: 'iran';
    direction: rtl;
    width: 678px;
    background-color: #f0f0f1;
    border: none;
    border-radius: 8px;
    line-height: 1.833;
    color: #474747;
    padding:14px 45px  14px 10px;
    top: 10px;
    outline: none;
    font-size: 12px;
}
.search-header:focus{
    background-color: #ffffff;
     box-shadow: 0 3px 12px 0 rgb(0 0 0 / 20%);
     transition: all 0.2s;
}
.icon {
    position: absolute;
    top: 86px;
    transform: translateX(-80px);
    color: #a1a3a8;
    font-size: 19px;
    cursor: pointer;
}
.container-user {
    display: flex;
    margin-top: 13px;
}
.log-user {
    margin-left: 40px;
}
.user-login {
    color: #616161;
    border: 1px solid #e0e0e2;
    font-size: 12px;
    padding: 10px 14px;
    border-radius: 8px;
    line-height: 1.833;
    display: flex;
    justify-content: center;
}
.user-login i {
    padding-left: 9px;
    font-size: 19px;
}
.cart i {
    font-size: 19px;
    margin-top: 14px;
    color: #616161;
}
.cart {
    margin-left: 22px;
}
.container-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu {
    display: flex;
    margin-top: 33px;
}
.menu-list {
    color: #616161;
    cursor: default;
    font-size: 12px;
    transition: border 0.2s ease;
    margin: 0 20px;
    height: 30px;
    font-weight: 700;
}
.menu-list:hover {
    border-bottom: 2px solid rgb(228, 23, 23);
}
.menu-list i {
    font-size: 14px;
}

.header {
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 20%);
    height: 180px;
}
.id {
    color: #0040ff;
}
.id1 {
    color: rgb(135, 26, 238);
}
.id2 {
    color: rgb(5, 201, 5);
}
.id3 {
    color: gold;
}
.id4 {
    color: rgb(213, 30, 30);
}
.id5 {
    color: teal;
}
.map {
    margin-top: 33px;
    margin-left: 20px;
}
.map-1 {
    color: #616161;
    font-size: 12px;
    cursor: pointer;
}
.icon-map {
    position: relative;
    color: #616161;
}
.red {
    position: absolute;
    background-color: rgb(253, 46, 46);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 26px;
    z-index: 1;
}
.pro {
    width: 80%;
}
.head-pro img {
    width:1300px;
    margin: 20px 0;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.img-slider {
    border-radius: 20px;
    position: relative;
    left: 150px;
}
.container-slider {
    display: flex;
}
a {
    text-decoration: none;
}
.img-1 {
    position: relative;
    left: 120px;
    border-radius: 20px;
}
.posts {
    background-color: #6bb927;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts1 {
    background-color: #ef394e;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-img {
    /* background-color: #616161; */
    width: 90%;
    height: 90%;
    display: flex;
}
.container-post {
    display: flex;
    /* background-color: aqua; */
    width: 80%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}
.post1 {
    background-color: #ffffff;
    width: 260px;
    height: 450px;
    margin-left: 8px;
    border-radius: 8px;
}
.img-off {
    width: 20%;
    text-align: center;
    margin-top: 50px;
}
.png-post {
    width: 180px;
    height: 180px;
   margin: 0 auto;
   position: relative;
   top: 10px;
}
.ton {
    margin-top: 10px;
    width: 100%;
    height: auto;
    position: relative;
}
.tex-post {
    color: #4a5f73;
    font-size: 13px;
   text-align: right;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    width: 80%;
}
.plus {
    /* color: #474747; */
    width: 90%;
    text-align: right;
}
.car {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 35px;
}
.text-plus {
    font-size: 12px;color: #4a5f73;
}
.box-price {
    width: 100%;
    /* height: 43px; */
    margin-top: 13px;
    /* background-color: #4a5f73; */
    position: relative;
    top: 10px;
}
.price {
    display: flex;
    align-items: center;
}
.cplus {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    line-height: 28px;
}
.cplus del {
    color: #acacac;
    position: relative;
    top: 15px;
}
.c-off {
    background-color: #fb3449;
    color: #ffff;
    margin: 10px;
    border-radius: 20px;
    padding: 4px 6px 1px;
    display: flex;
    font-weight: 700;
    font-size:16px;
    justify-content: center;
    line-height: 1.37;
}
.c-price {
    color: #000;
    position: relative;
    top: 40px;
    right: 63px;
    font-weight: 700;
    font-size: 19px;
    text-align: left;
}
.toman {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    position: absolute;
    left: -40px;
}
.border {
    position: relative;
}
.border:after {
    content: '';
    width: 90%;
    margin: 50px 0;
    height: 6px;
    background-color: #e2e2e2;
    position: absolute;
    left: 7px;
    border-radius: 8px;
}
.border:before {
    content: '';
    width: 60%;
    z-index: 1;
    height: 4px;
    background-color: #fb3449;
    position: absolute;
    left: 7px;
    top: 51px;
    border-radius: 8px;
}
.clock {
    position: absolute;
    display: flex;
    top: 1220px;
    margin-left: 20px;
    color: #767676;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}
.clock i {
    margin-right: 4px;
}
.go {
    margin-left: 30px;
}
.number-of {
    float: right;
    margin-left: 10px;
    font-size: 16px;
     color: #fb3449;
}
.go:nth-of-type(2) {
    font-size: 13px;
}
.open {
    border: 1px solid #fff;
    width: 160px;
    margin-left: 80px;
    padding: 10px 0 ;
    border-radius: 8px;
    margin-top: 20px;
}
.open a {
    color: #fff
}
.open a::before {
    content: '\02C2';
    margin-right: 10px;
}
.container-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-image {
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 20px;
}
.box-image {
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.box-image img {
    border-radius: 8px;
}